<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Configurations" value="SNIS_UNSI,SNIS_NPCSI,SNIS_PCSI,SIS_ESI,SNIS_ESI,SIS_UNSI,SNIS_ESI_CIC,SIS_ESI_CIC" />
  </appSettings>
</configuration>