<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.assert" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.4049" newVersion="2.4.0.4049" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.4049" newVersion="2.4.0.4049" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SeleniumHubHost" value="10.1.14.102" />
    <add key="SeleniumHubPort" value="4444" />
    <add key="ProxyHost" value="localhost" />
    <add key="ProxyPort" value="8081" />
    <add key="ProxyPortMappings" value="A-8082,B-8083,C-8084,D-8085,E-8086,F-8087,G-8088,H-8089,I-8090,A_Har-8091,B_Har-8092,C_Har-8093,D_Har-8094,E_Har-8095,F_Har-8096,G_Har-8097,H_Har-8098,I_Har-8099" />
    <add key="LocalIpAddresses" value="127.0.0.1,10.30.75.4,10.1.16.76,10.1.16.69,172.24.104.20,172.24.105.20,172.24.106.20,172.24.107.20,172.24.108.20,172.24.109.20,172.24.104.239" />
    <add key="ApplitoolsApiKey" value="Dqxx1017XiJFxJt5ThjnV8ERAWqn0RVvZVjjKwIzDEsqQ110" />
    <add key="ApplitoolsServerUrl" value="https://lampspluseyesapi.applitools.com" />
    <add key="TargetInstance" value="C.C" />
    <add key="DesignatedProxyHost" value="" />
    <add key="DesignatedProxyPort" value="" />
    <add key="AccountManagerServiceUri" value="https://ims.lampsplus.com/accountmanagermicroservice/prod/api/UsersUnderTest/" />
    <add key="AccountManagerServiceUri.ppe" value="https://ims.lampsplus.com/accountmanagermicroservice/ppe/api/UsersUnderTest/" />
  </appSettings>
</configuration>
